header{
	margin-bottom:30px;

	&.securite-accuiel {
		margin-bottom:0;
	}
	
	.top-head{
		background-color:$white;
		padding:0px 10px;
		display: flex;
		flex-wrap: nowrap;
		justify-content:space-between;
		align-items: flex-start;

		&.securite {
			padding:0 22px;
		}
	}
	.search-field{
		vertical-align: middle;
        display: inline-block;
	}

	.time{
		display:inline-block;
		font-family: $font-family-base-cond;
		text-align:center;
		font-size:26px;
		line-height:36px;
		margin-top:11px;

		strong{
			color:$grey;
			font-size:11px;
			line-height:14px;
			font-weight:400;
			text-transform:uppercase;
			display:block;

		}

		span{
			color:$dark-blue;
		}

	}

	.logged-nav{
		display: inline-block;
		padding:0px 10px 0px 19px;
		border-left:1px solid $grey;
		min-height:73px;
		padding-top:25px;

        > ul{
          list-style-type: none;
          padding: 0;
          margin: 0;
          
          > li{
            position: relative;
            display: inline-block;
            vertical-align: middle;
          }
        }
		
		a{
			text-decoration: none;
			display: inline-block;
			padding: 0 2px
		}
	}

	.info-bl{
		display:inline-block;
		border-left:1px solid $grey;
		min-height:73px;
		vertical-align:top;
		padding:25px 20px 0 16px;
	}
}

.logo{
	display:inline-block;
	font:400 21px/25px $font-family-base-cond;
	text-transform:uppercase;
	color:$black;
	vertical-align:top;
	text-decoration:none;
	margin-top:13px;
	margin-right:20px;
	letter-spacing:1.2px;

	span{
		padding-top: 10px;
		display: inline-block;
	}

	@media (max-width: 1199px) {
		span{
			display:none;
		}
  }

	&:hover,
	&:visited,
	&:active,
	&:link{
		color:$black;
		text-decoration:none;
	}
	img{
		margin-right:7px;
		float:left;
	}
}


  





.light-nav{
	padding:0px 10px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: initial;
}


.top-filter{
	padding:0 10px;

	&:before,
	&:after {
	    content: "";
	    display: table;
	} 
	&:after {
	    clear: both;
	}


	.left-info-bl{
		width:216px;
		float:left;
		padding-top:27px;
	}

	.breadcrumb{
		margin-bottom:12px;
	}

	.select-filter-group{
		margin-left:216px;
		padding-top:28px;
		padding-bottom:11px;
		
		&:after {
			content: '';
			display: block;
			clear: both;
		}


		.select-custom{
			float:left;
			width:160px;
			margin-bottom:15px;
		}

		.filter-selected{
			margin-left:187px;
			margin-bottom:7px;
		}

		.group-filter {
			overflow: hidden;
		}

	}


}

section{
	padding:0px 10px;
}

/*securite-header*/
.securite {
	.logo {
        vertical-align: middle;
        display: inline-block;
	}

	.link-with-sup {
		sup{
			.first-sup {
				position:absolute;
				right: 4px;
 				top: 0px;
			}
			.second-sup {
				position:absolute;
				right: 4px;
 				top: 15px;
			}
			.third-sup {
				position:absolute;
				right: 4px;
 				top: 30px;
			}
		}
	}
}


#remind_bg.slider-container{
	display: inline-block;
	position:relative;
	vertical-align:top;
    padding: 10px 18px 18px 18px;
    width: 230px;

	.nextSlider,
	.prevSlider {
        background-color: white;
	}


	.sliderStat {
		display: block;
        padding: 0;

        li {
            padding: 12px 12px 0;
        }
	}

}




/*top-nav*/

.slider-container {
    position: relative;
	width:100%;
	padding-bottom:0;

	.nextSlider,
	.prevSlider {
        position: absolute;
		width: 24px;
		z-index:10;
        background-color: #7DBCEE;
		cursor: pointer;
	}


	.sliderStat {
		width:100%;
        padding: 0 24px;
		display: block;
        overflow-x: hidden;
        position: relative;
        z-index: 1;

        > ul {
            padding: 0 57px 0 0;
            margin:0;
            display: inline-table;
            height: 100%;
            position: relative;
            top: 0px;
            left: 0px;
            white-space: nowrap;

		    > li {
                display: table-cell;
			    padding:0;
                float: none;
		    }
        }
	}

	.prevSlider {
		top:0;
		bottom:0;
		left:0;

		svg {
            position: absolute;
            top: 50%;
            left: 0;
            display: inline-block;
			width:24px;
			vertical-align:middle;
			margin: -6px 0 0 0;
		}
	}

	.nextSlider {
	    right:0px;
		top:0;
		bottom:0;

		svg {
            position: absolute;
            top: 50%;
            left: 0;
            display: inline-block;
			width:24px;
			vertical-align:middle;
			margin: -6px 0 0 0;
		}
	}
}

.top-nav{
  .slider-container{
    .sliderStat{
      overflow-x: visible !important;
    }

    li.active{
      background-color: $secondary-blue;
    }

    a{
      padding: 12px 12px 0;
	  text-transform:uppercase;

      &:hover{
		color:$white;
      }
    }
  }

  ul#slider-list{

    > li {
      position: relative;


      > a{
        padding: 60px 20px 15px 20px;

        > svg{
          position: absolute;
          top: 15px;
          left: 50%;
          margin-left: -20px;
        }
      }

      &:hover{ 
        background-color: $secondary-blue;

        
        > .dropdown-menu{
          display: block; 
        }
      }

      > .dropdown-menu{
        display: none;
        position: absolute;
        z-index: 100;
        list-style-type: none;
        margin: 0;
        padding: 0;
        min-width: 100%;
        -webkit-box-shadow: 0px 2px 5px 0px rgba(163,163,163,1);
        -moz-box-shadow: 0px 2px 5px 0px rgba(163,163,163,1);
        box-shadow: 0px 2px 5px 0px rgba(163,163,163,1);

        li{
          text-align: center;
          text-transform: uppercase;
          background-color: white;
          border-bottom: 1px solid $grey;
          min-width: 100%;
          
          &.active a{
            color: $blue; 
          }

          &:hover{
            a{
              background-color: white;
              color: $blue; 
            }
          }

          &:last-child{
            border-bottom: none;
          }

          a{
            display: block;
            color: $grey;
            padding: 10px;
          }
        }
      }
    }
  }
}

.list-of-agents {
  text-align: center;
  border-bottom: 2px solid $dark-blue;
  padding: 5px 0 1px 0;
  margin-bottom: 20px;
  span{
    font-size: 18px;
	line-height: 33px;
	letter-spacing: 2px;
  }
}

#action-bar{
  margin-right: 40px;
  display: table-cell;
}

.table-tab{
  margin-left: 40px;
  margin-bottom: 20px;
}

#default-search{
    display: inline-block;
    vertical-align: top;
}

.submit-box{
    position: relative;
    display: inline-block;
    vertical-align: top;

    .advanced-link{
        position: absolute;
        font-size: 12px;
        top: 38px;
        left: 0;
        width: 300px;

        a{
            margin-right: 10px;
        }
    }

}

.back-button{
    display: inline-block;
    vertical-align: top;
}

#table-header-bar{
    > div{
        display: table-cell;
        padding-right: 20px;
    }
}

#filter-box{
    > span, > form{
        display: inline-block;
                 vertical-align: top;
    }

    form{
        #datecalfind{
          margin-right: 3px;
        }

        .form-group{
            margin: 15px 0px;
        }

        img{
          margin-right: 6px;
        }

		input {
			width: 123px;
			padding-right:10px;
            -webkit-box-shadow: 0px 0px 10px 0px rgba(82,82,82,0.35);
            -moz-box-shadow: 0px 0px 10px 0px rgba(82,82,82,0.35);
            box-shadow: 0px 0px 10px 0px rgba(82,82,82,0.35);
		}


        select {
            font-size: 13px;
            outline: none;
            letter-spacing: 1px;
            color: $grey; 
			padding-right:10px;
            -webkit-box-shadow: 0px 0px 10px 0px rgba(82,82,82,0.35);
            -moz-box-shadow: 0px 0px 10px 0px rgba(82,82,82,0.35);
            box-shadow: 0px 0px 10px 0px rgba(82,82,82,0.35);
		}


		.refresh {
			margin-right:0;
			padding: 10px 25px 8px 31px;

			svg {
				margin-left: 10px;
		    }
        }

    }
}

#breadcrumb-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .breadpart{
    display: inline-block;
    vertical-align: middle;

    > *{
      display: inline-block;
      vertical-align: middle;   
    }
  }

  .bright{
  
  }

  .bleft{
    
  }
}

.profile-img{
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: auto;
  border: 5px solid black;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
