<header>
  <div class="top-head">
    <div class="left-group">
    	<a class="logo" href="#">
    		<img src="/img/ozion.png" alt="">
        <span>PHMR MANAGER</span>
    	</a>
    	<div class="search-field">
        <input type="text" name="" id="">
        <input type="submit" value="">
      </div>
  	</div><!-- .left-group -->
    <div class="time">
  	<strong>TIME</strong>
    <span>20</span> : <span>37</span> : <span>12</span>
  	</div><!-- .time -->

    <div class="right-group">
      <div class="slide-wrapper">
        <a class="prev"></a>
        <div class="slider">
          <a class="status-link border-green" href="#">
            <svg class="fill-black" width="37" height="25"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/img.svg#passenger"></use></svg>
            <sup>214</sup>
          </a>
          <a class="status-link border-blue" href="#">
            <svg class="fill-black" width="37" height="25"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/img.svg#passenger"></use></svg>
            <sup>27</sup>
          </a>
          <a class="status-link border-red" href="#">
            <svg class="fill-black" width="37" height="25"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/img.svg#passenger"></use></svg>
            <sup>11</sup>
          </a>
        </div>
        <a class="next"></a>
      </div><!-- .slide-wrapper -->


      <div class="info-bl">
        <a class="link-with-sup" href="#">
          <svg class="fill-red" width="27" height="27"><use xlink:href='/img/img.svg#bell'></svg>
          <sup>324</sup>
        </a>
      </div>
      <div class="info-bl">
        <a class="link-with-sup" href="#">
          <svg class="fill-blue" width="27" height="27"><use xlink:href='/img/img.svg#clock'></svg>
          <sup><span class="font-blue">1</span>/<span class="font-blue">9</span></sup>
        </a>
      </div>
    	
      <nav class="logged-nav">
    		<a href="#">
          <svg class="fill-black" width="28" height="28"><use xlink:href='/img/img.svg#home'></svg>
        </a>
      	<a href="#">
          <svg class="fill-black" width="28" height="28"><use xlink:href='/img/img.svg#profile'></svg>
        </a>
      	<a href="#">
          <svg class="fill-black" width="28" height="28"><use xlink:href='/img/img.svg#dashboard'></svg>
        </a>
    	</nav><!-- .logged-nav -->	
    </div>
  </div><!-- .right-group -->

	<nav class="top-nav">
    <a href="#">
      <svg class="fill-white" width="25" height="36"><use xlink:href='/img/img.svg#wheelchair'></svg>
      PHMR
    </a>
    <a href="#">
      <svg class="fill-white" width="40" height="36"><use xlink:href='/img/img.svg#attention'></svg>
      INCIDENTS
    </a>
    <a href="#">
      <svg class="fill-white" width="47" height="36"><use xlink:href='/img/img.svg#hands-care'></svg>
      PRETS
    </a>
    <a href="#">
      <svg class="fill-white" width="28" height="36"><use xlink:href='/img/img.svg#flag'></svg>
      FIL D'ACTUALITE
    </a>
    <a href="#">
      <svg class="fill-white" width="35" height="36"><use xlink:href='/img/img.svg#clock'></svg>
      SERVICE
    </a>
    <a href="#">
      <svg class="fill-white" width="29" height="36"><use xlink:href='/img/img.svg#list'></svg>
      DOCUMENTS
    </a>
    <a href="#">
      <svg class="fill-white" width="31" height="36"><use xlink:href='/img/img.svg#contacts'></svg>
      ANNUAIRE
    </a>
    <a href="#">
       <svg class="fill-white" width="40" height="36"><use xlink:href='/img/img.svg#book'></svg>
      CONSIGNES
    </a>
  </nav>
  <div class="top-filter">
    <div class="left-info-bl">
      <ul class="breadcrumb">
        <li>
          <svg class="fill-blue" width="15" height="21"><use xlink:href='/img/img.svg#wheelchair'></svg>
          <a href="">PHMR</a>
        </li>
        <li><span>MISSIONS</span></li>
      </ul>
    	
      <a class="round-link-icon" href="#">
        <svg class="fill-blue" width="25" height="25"><use xlink:href='/img/img.svg#add'></svg>
      </a>
      <a class="round-link-icon" href="#">
        <svg class="fill-blue" width="25" height="25"><use xlink:href='/img/img.svg#protect-user'></svg>
      </a>
      <a class="round-link-icon" href="#">
        <svg class="fill-blue" width="25" height="25"><use xlink:href='/img/img.svg#goforward'></svg>
      </a>

  	</div>

    <div class="select-filter-group">
      <div class="group-filter group-filter-left">
      <div class="select-custom">
        <select>
          <option>OUVRIR LES FILTRES</option>
          <option>TRI PAR TACHE 2</option>
          <option>TRI PAR TACHE 3</option>
        </select>
      </div>
      <ul class="filter-selected">
          <li class="bg-white font-dark-blue" href="#">
              <svg width="9px" height="9px" viewBox="0 0 9 9">
                  <g stroke-width="1" fill-rule="evenodd">
                      <g id="remove-ico" stroke-width="0.8">
                          <path d="M0.4,0.4 L8.4,8.4"/>
                          <path d="M0.4,8.4 L8.4,0.4"/>
                          <path d="M0.4,0.4 L8.4,8.4"/>
                          <path d="M0.4,8.4 L8.4,0.4"/>
                      </g>
                  </g>
              </svg>
              <span class="font-grey">Or.Date</span> 21.11.16
          </li>
          <li class="bg-white font-dark-blue" href="#">
              <svg width="9px" height="9px" viewBox="0 0 9 9">
                  <g stroke-width="1" fill-rule="evenodd">
                      <g id="remove-ico" stroke-width="0.8">
                          <path d="M0.4,0.4 L8.4,8.4"/>
                          <path d="M0.4,8.4 L8.4,0.4"/>
                          <path d="M0.4,0.4 L8.4,8.4"/>
                          <path d="M0.4,8.4 L8.4,0.4"/>
                      </g>
                  </g>
              </svg>
              <span>Exp.Date</span> 23.11.16      
          </li>
          <li class="bg-white font-dark-blue" href="#">
            <svg width="9px" height="9px" viewBox="0 0 9 9">
                  <g stroke-width="1" fill-rule="evenodd">
                      <g id="remove-ico" stroke-width="0.8">
                          <path d="M0.4,0.4 L8.4,8.4"/>
                          <path d="M0.4,8.4 L8.4,0.4"/>
                          <path d="M0.4,0.4 L8.4,8.4"/>
                          <path d="M0.4,8.4 L8.4,0.4"/>
                      </g>
                  </g>
              </svg>
              Boing 747
          </li>
          <li class="bg-white font-dark-blue" href="#">
            <svg width="9px" height="9px" viewBox="0 0 9 9">
                  <g stroke-width="1" fill-rule="evenodd">
                      <g id="remove-ico" stroke-width="0.8">
                          <path d="M0.4,0.4 L8.4,8.4"/>
                          <path d="M0.4,8.4 L8.4,0.4"/>
                          <path d="M0.4,0.4 L8.4,8.4"/>
                          <path d="M0.4,8.4 L8.4,0.4"/>
                      </g>
                  </g>
              </svg>
              HONG KONG
          </li>
          <li class="bg-white font-dark-blue" href="#">
            <svg width="9px" height="9px" viewBox="0 0 9 9">
                  <g stroke-width="1" fill-rule="evenodd">
                      <g id="remove-ico" stroke-width="0.8">
                          <path d="M0.4,0.4 L8.4,8.4"/>
                          <path d="M0.4,8.4 L8.4,0.4"/>
                          <path d="M0.4,0.4 L8.4,8.4"/>
                          <path d="M0.4,8.4 L8.4,0.4"/>
                      </g>
                  </g>
              </svg>
              Air France
          </li>
          <li class="bg-white  font-dark-blue" href="#">
            <svg width="9px" height="9px" viewBox="0 0 9 9">
                  <g stroke-width="1" fill-rule="evenodd">
                      <g id="remove-ico" stroke-width="0.8">
                          <path d="M0.4,0.4 L8.4,8.4"/>
                          <path d="M0.4,8.4 L8.4,0.4"/>
                          <path d="M0.4,0.4 L8.4,8.4"/>
                          <path d="M0.4,8.4 L8.4,0.4"/>
                      </g>
                  </g>
              </svg>
              <span>Agent</span> MAURICE VALLOIS   
          </li>
          <li class="bg-white  font-dark-blue" href="#">
            <svg width="9px" height="9px" viewBox="0 0 9 9">
                  <g stroke-width="1" fill-rule="evenodd">
                      <g id="remove-ico" stroke-width="0.8">
                          <path d="M0.4,0.4 L8.4,8.4"/>
                          <path d="M0.4,8.4 L8.4,0.4"/>
                          <path d="M0.4,0.4 L8.4,8.4"/>
                          <path d="M0.4,8.4 L8.4,0.4"/>
                      </g>
                  </g>
              </svg>
              <span>Agent</span> MAURICE VALLOIS   
          </li>
          <li class="bg-white  font-dark-blue" href="#">
            <svg width="9px" height="9px" viewBox="0 0 9 9">
                  <g stroke-width="1" fill-rule="evenodd">
                      <g id="remove-ico" stroke-width="0.8">
                          <path d="M0.4,0.4 L8.4,8.4"/>
                          <path d="M0.4,8.4 L8.4,0.4"/>
                          <path d="M0.4,0.4 L8.4,8.4"/>
                          <path d="M0.4,8.4 L8.4,0.4"/>
                      </g>
                  </g>
              </svg>
              <span>Agent</span> MAURICE VALLOIS   
          </li>
          <li class="bg-white  font-dark-blue" href="#">
            <svg width="9px" height="9px" viewBox="0 0 9 9">
                  <g stroke-width="1" fill-rule="evenodd">
                      <g id="remove-ico" stroke-width="0.8">
                          <path d="M0.4,0.4 L8.4,8.4"/>
                          <path d="M0.4,8.4 L8.4,0.4"/>
                          <path d="M0.4,0.4 L8.4,8.4"/>
                          <path d="M0.4,8.4 L8.4,0.4"/>
                      </g>
                  </g>
              </svg>
              <span>Agent</span> MAURICE VALLOIS   
          </li>
      </ul>
      </div>
      <!-- <div class="clearfix"></div> -->
      <div class="group-filter">
      
       <div class="select-custom">
        <select>
          <option>TRI PAR TACHE</option>
          <option>TRI PAR TACHE 2</option>
          <option>TRI PAR TACHE 3</option>
        </select>
      </div>
      <ul class="filter-selected">
          <li class="bg-blue" href="#">
              <svg width="9px" height="9px" viewBox="0 0 9 9">
                  <g stroke-width="1" fill-rule="evenodd">
                      <g id="remove-ico" stroke-width="0.8">
                          <path d="M0.4,0.4 L8.4,8.4"/>
                          <path d="M0.4,8.4 L8.4,0.4"/>
                          <path d="M0.4,0.4 L8.4,8.4"/>
                          <path d="M0.4,8.4 L8.4,0.4"/>
                      </g>
                  </g>
              </svg>
              Agent
          </li>
          <li class="bg-blue" href="#">
              <svg width="9px" height="9px" viewBox="0 0 9 9">
                  <g stroke-width="1" fill-rule="evenodd">
                      <g id="remove-ico" stroke-width="0.8">
                          <path d="M0.4,0.4 L8.4,8.4"/>
                          <path d="M0.4,8.4 L8.4,0.4"/>
                          <path d="M0.4,0.4 L8.4,8.4"/>
                          <path d="M0.4,8.4 L8.4,0.4"/>
                      </g>
                  </g>
              </svg>
              Shuttle
          </li>
          <li class="bg-blue" href="#">
            <svg width="9px" height="9px" viewBox="0 0 9 9">
                  <g stroke-width="1" fill-rule="evenodd">
                      <g id="remove-ico" stroke-width="0.8">
                          <path d="M0.4,0.4 L8.4,8.4"/>
                          <path d="M0.4,8.4 L8.4,0.4"/>
                          <path d="M0.4,0.4 L8.4,8.4"/>
                          <path d="M0.4,8.4 L8.4,0.4"/>
                      </g>
                  </g>
              </svg>
              Schelduled
          </li>
      </ul>
      </div>

    </div>

  </div>
	

  <nav class="light-nav">
    <a class="active" href="#">Arrives</a>
    <a href="#">Piste</a>
    <a href="#">Mise en salle</a>
    <a href="#">Departs</a>
    <a href="#">Synthese</a>
    <a href="#">Recherche</a>
    <a href="#">TOUT</a>
    <a class="font-dark-blue" href="#">In Progress</a>
    <a class="font-dark-blue" href="#">No Show</a>
    <a class="font-dark-blue" href="#">Late</a>
    <a class="font-dark-blue" href="#">Suspendu</a>
  </nav>

  
</header>
