<section class="affectation-home">
  <div class="table-responsive">
    <div class="table-wrapp">
       <table class="table table-striped">
    <thead>
      <tr>
        <th>DÉLAIS<br>TACHE</th>
        <th>HT</th>
        <th>SENS</th>
        <th>ÉTAT</th>
        <th>INFOS VOL</th>
        <th>TERM/ PRG</th>
        <th>PHMR</th>
        <th>SMI</th>
        <th>AGENT(S)</th>
        <th>JALONS</th>
        <th>CORRESPONDANCE</th>
        <th>OBS</th>
      </tr>
    </thead>
    <tbody>
      <tr class="border-tr">
        <td>
            <span class="font-dark-blue">- 87min</span>
        </td>
        <td>
            <span class="font-dark-blue">09:50</span>
        </td>
        <td>
          
            <strong class="font-dark-blue">A</strong>
       
        </td>
        <td>
           <a class="status-link border-blue" href="#">
             <svg class="fill-black" width="37" height="25"><use xlink:href='/img/img.svg#passenger'></svg>
            </a>
            <a class="status-link border-red" href="#">
             <svg class="fill-black" width="37" height="25"><use xlink:href='/img/img.svg#bus'></svg>
            </a>
            <a class="status-link border-red" href="#">
              <svg class="fill-black" width="37" height="37"><use xlink:href='/img/img.svg#passenger-big'></svg>
            </a>
            <a class="status-link border-red" href="#">
             <svg class="fill-black" width="37" height="25"><use xlink:href='/img/img.svg#passenger'></svg>
            </a>
            <a class="status-link border-red" href="#">
             <svg class="fill-black" width="37" height="25"><use xlink:href='/img/img.svg#helping-wheelchair'></svg>
            </a>
        </td>
        <td>
            <table class="info-flight">
              <tr>
                <td>
                  <strong>
                    <span class="font-dark-blue">AF7648</span>
                    <span class="ico font-red">
                      <svg class="fill-red" width="6" height="8"><use xlink:href='/img/img.svg#arrow-left'></svg>
                    </span>
                  </strong> <br> 
                  <small class="font-grey">07 06 2016<br>Initialisation</small>
                </td>
                <td class="text-center">
                  <strong><span class="font-dark-blue">(BIO)</span></strong><br>
                  <small class="font-grey"><span class="font-red">12:15</span></small>
                </td>
              </tr>
            </table>
        </td>
        <td>
          <div>
            <span class="font-dark-blue">2A/ <strong>A08</strong></span> <br>
            <span class="font-grey">N385AM/76</span>
          </div>
        </td>
        <td>
            <small>
              <strong class="font-dark-blue">
               WCHR
              </strong> 
              <span class="ico"><svg class="fill-grey" width="9" height="12"><use xlink:href='/img/img.svg#chair'></svg></span>
              <span class="font-grey">11A</span><br>
            </small>

            <strong class="font-light-blue">FABRESSE Martine</strong><br>
            <small><strong>RV</strong> 07 06 2016 12:15<br>
             <strong>LIEU</strong> T2F ZONE 1<br>
             <strong class="font-red">Module K</strong>
          </small>
        </td>
        <td>
          <strong class="font-dark-blue">
           <span class="ico">
            <svg class="fill-green" width="14" height="14"><use xlink:href='/img/img.svg#exclamation-poin'></svg>
           </span>
            PSM 
            <br>+48h
          </strong>
        </td>
        <td>
          <span class="font-dark-blue">HUGUES</span> <br>
          <span class="font-dark-blue">Jean-Pierre</span>
          <span class="ico ">
          </span><br>
          <small class="font-light-blue">Renforcement</small><br>
        </td>
        <td>
          <span class="font-dark-blue">INITA</span>
        </td>
        <td>
          <table class="info-flight">
              <tr>
                <td>
                  <small class="font-grey">25j 5h24</small><br>
                  <strong>
                    <span class="font-dark-blue">AF7648</span>
                    <span class="ico font-red">
                      <svg class="fill-green" width="6" height="8"><use xlink:href='/img/img.svg#arrow-right'></svg>
                    </span>
                  </strong> <br> 
                  <small class="font-grey">07 06 2016<br>2E/F15/532</small>
                </td>
                <td class="text-center">
                  <strong><span class="font-dark-blue">(LYS)</span></strong><br>
                  <small class="font-grey"><span class="font-blue">12:15</span></small>
                </td>
              </tr>
            </table>
        </td>
        <td><span class="edit-stats"><svg class="fill-black" width="19" height="20"><use xlink:href='/img/img.svg#un-check'></svg></span></td>
      </tr>
    </tbody>
  </table>
  </div>
  </div>
</section>

<div class="arrival-info">
  <section>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>CHOIX</th>
            <th>AFFECTATION</th>
            <th>TACHES</th>
            <th>JALONS</th>
            <th>DEBUT</th>
            <th>FIN</th>
            <th>COULEURS</th>
            <th>ACTION(S)</th>
          </tr>
        </thead>
        <tbody>
          <tr class="border-tr even border-solid border-white">
            <td>
                <span class="ratio-box">
                  <input id="radio-31" name="radio-group1" type="radio">
                  <label for="radio-31"></label>
                </span>
            </td>
            <td>
                <span class="font-grey">Assigné à l’agent</span>
                <span class="font-light-blue">LEFEBRE Virgil</span>
                <span class="affectation-icon">
                  <svg class="fill-blue" width="37" height="25"><use xlink:href='/img/img.svg#passenger'></svg>
                </span>
            </td>
             <td>
                <strong class="font-dark-blue">ARRIVEE</strong>
            </td>
            <td>
                <span class="font-green">INITA - GO A - MISE A - SORTIR - CORNIR</span>
            </td>
             <td>
                <span class="font-grey">07 06 2016</span>
                <span class="font-blue">07:15</span>
            </td>
            <td>
                <span class="font-grey">07 06 2016</span>
                <span class="font-blue">08:30</span>
            </td>
             <td>
                <span class="color-block bg-red"></span>
            </td>
            <td>
              <a class="action-link" href="#">
                  <svg class="fill-red" width="19" height="19"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/img.svg#support-delete"></use></svg>
                </a>
                <a class="action-link" href="#">
                  <svg class="fill-red" width="19" height="19"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/img.svg#support-medical"></use></svg>
                </a>
            </td>
          </tr>

          <tr class="border-tr">
            <td>
                <span class="ratio-box">
                  <input id="radio-31" name="radio-group1" type="radio">
                  <label for="radio-31"></label>
                </span>
            </td>
            <td>
                <span class="font-grey">Assigné à l’agent</span>
                <span class="font-light-blue">ANDRANI Francois</span>
                <span class="text-right">
                  <svg class="fill-red" width="37" height="25"><use xlink:href='/img/img.svg#helping-wheelchair'></svg>
                </span>
            </td>
             <td>
                <strong class="font-dark-blue">TRANSFERT</strong>
            </td>
            <td>
                <span class="font-green">DEBCNX - FINCNX</span>
            </td>
             <td>
                <span class="font-grey">07 06 2016</span>
                <span class="font-blue">08:30</span>
            </td>
            <td>
                <span class="font-grey">07 06 2016</span>
                <span class="font-blue">09:45</span>
            </td>
             <td>
                <span class="color-block bg-blue"></span>
            </td>
            <td>
              <a class="action-link" href="#">
                  <svg class="fill-red" width="19" height="19"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/img.svg#support-lock"></use></svg>
                </a>
                <a class="action-link" href="#">
                  <svg class="fill-red" width="19" height="19"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/img.svg#support-delete"></use></svg>
                </a>
            </td>
          </tr>

           <tr class="border-tr even">
            <td>
                <span class="ratio-box">
                  <input id="radio-31" name="radio-group1" type="radio">
                  <label for="radio-31"></label>
                </span>
            </td>
            <td>
                <span class="font-grey">Assigné à l’agent</span>
                <span class="font-light-black">ABRY Philippe</span>
                <span class="text-right">
                  <svg class="fill-black" width="37" height="25"><use xlink:href='/img/img.svg#passenger'></svg>
                </span>
            </td>
             <td>
                <strong class="font-dark-black">EMBARQUEMENT</strong>
            </td>
            <td>
                <span class="font-grey">PEMBR - FINI</span>
            </td>
             <td>
                <span class="font-grey">07 06 2016</span>
                <span class="font-blue">08:55</span>
            </td>
            <td>
                <span class="font-grey">07 06 2016</span>
                <span class="font-blue">09:34</span>
            </td>
             <td>
                <span class="color-block bg-yellow"></span>
            </td>
            <td>
              <a class="action-link" href="#">
                  <svg class="fill-red" width="19" height="19"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/img.svg#support-lock"></use></svg>
                </a>
                <a class="action-link" href="#">
                  <svg class="fill-red" width="19" height="19"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/img.svg#support-delete"></use></svg>
                </a>
            </td>
          </tr>

          <tr class="border-tr">
            <td>
                <span class="ratio-box">
                  <input id="radio-31" name="radio-group1" type="radio">
                  <label for="radio-31"></label>
                </span>
            </td>
            <td>
                <span class="font-grey">Assigné à l’agent</span>
                <span class="font-light-blue">FRANÇOIS Brice</span>
                <span class="text-right">
                  <svg class="fill-blue" width="37" height="25"><use xlink:href='/img/img.svg#bus'></svg>
                </span>
            </td>
             <td>
                <strong class="font-dark-blue">MISE EN SALLE</strong>
            </td>
            <td>
                <span class="font-grey">DEPVEH - ABOARD - ENDD</span>
            </td>
             <td>
                <span class="font-grey">07 06 2016</span>
                <span class="font-blue">09:10</span>
            </td>
            <td>
                <span class="font-grey">07 06 2016</span>
                <span class="font-blue">10:25</span>
            </td>
             <td>
                <span class="color-block bg-green"></span>
            </td>
            <td>
                <a class="action-link" href="#">
                  <svg class="fill-red" width="19" height="19"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/img.svg#support-delete"></use></svg>
                </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</div>

<div class="notification-bl">
  <a class="btn btn-radius btn-border bg-blue font-white" href="#">Affectation groupée</a>
  <a class="btn btn-radius btn-border bg-black font-white" href="#">Annulation groupée</a>
</div>