<section>
  <div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>VOIR</th>
        <th>DÉLAIS<br>TACHE</th>
        <th>HT</th>
        <th>SENS</th>
        <th>ÉTAT</th>
        <th>INFOS VOL</th>
        <th>TERM/ PRG</th>
        <th>PHMR</th>
        <th>SMI</th>
        <th>AGENT(S)</th>
        <th>JALONS</th>
        <th>CORRESPONDANCE</th>
        <th>OBS</th>
        <th>ACTION</th>
        <th>AG</th>
      </tr>
    </thead>
    <tbody>
      <tr class="border-tr">
      	<td>
          <div class="border-line">
            <img src="img/view.png" alt="" width="21">
          </div>
        </td>
      	<td>
    
            <span class="font-dark-blue">- 87min</span>

        </td>
      	<td>
          
            <span class="font-dark-blue">09:50</span>
    
        </td>
      	<td>
          
            <strong class="font-dark-blue">T</strong>
       
        </td>
      	<td>
      		  <a class="status-link border-green disable" href="#"><img src="img/icones_agents.png" alt="" width="37"></a>
      		  <a class="status-link border-green" href="#"><img src="img/icones_agents.png" alt="" width="37"></a>
      		  <a class="status-link border-green" href="#"><img src="img/icones_agents.png" alt="" width="37"></a>
      	</td>
      	<td>
      		  <strong><span class="font-red">AF7648</span> <span class="ico font-red"><img src="img/ico-16/arrow-red-left.png"></span> 
            <span class="font-dark-blue">(LYS)</span></strong><br>
			      <small class="font-grey">07 06 2016    <span class="font-red">12:15</span><br>
			    Initialisation</small>
      	</td>
      	<td>
          <div>
      		  <span class="font-dark-blue">2F/ <strong>380</strong></span> <br>
            <span class="font-grey">S7ADB/332</span>
          </div>
      	</td>
      	<td>
      		  <small><strong class="font-red">WCHR</strong> <span class="ico"><img src="img/ico-16/chear.png"></span><span class="font-grey">18E</span><br></small>
            <strong class="font-green">DUPUIS Jean Bernard</strong><br>
            <small><strong>RV</strong> 07 06 2016 12:15<br>
			      <strong>LIEU</strong> T2C ZONE 11<br>
			      <strong class="font-red">Restaurant King</strong></small>
      	</td>
      	<td>
      		  <strong class="font-dark-blue"><span class="ico"><img src="img/ico-16/priorite.png"></span> PSM <br>+48h</strong>
      	</td>
      	<td>
        </td>
      	<td>
          INITA
        </td>
      	<td>
      		<small class="font-grey">25j 5h24</small><br>
			    <strong class="font-dark-blue">AF7648  <span class="ico font-green"><img src="img/ico-16/arrow-green-right.png"></span>  (LYS)</strong><br>
			    <small class="font-grey">07 06 2016    <span class="font-blue">12:15</span><br>
			    2E/F15/532</small>
		    </td>
      	<td><span class="edit-stats"></span></td>
      	<td>
          <a class="action-link" href="#"><img src="img/actions/action1.png" alt=""></a>
          <a class="action-link" href="#"><img src="img/actions/action2.png" alt=""></a>
          <a class="action-link" href="#"><img src="img/actions/action3.png" alt=""></a><br>
          <a class="action-link" href="#"><img src="img/actions/action4.png" alt=""></a>
          <a class="action-link" href="#"><img src="img/actions/action5.png" alt=""></a>
          <a class="action-link" href="#"><img src="img/actions/action6.png" alt=""></a>
        </td>
      	<td>
          <div class="border-line">
            <input id="checkbox-1" name="checkbox-1" type="checkbox">
            <label for="checkbox-1"></label>
          </div>
        </td>
      </tr>
      <tr class="border-tr even">
        <td>
          <div class="border-line">
            <img src="img/view.png" alt="" width="21">
          </div>
        </td>
        <td>
    
            <span class="font-dark-blue">- 87min</span>

        </td>
        <td>
          
            <span class="font-dark-blue">09:50</span>
    
        </td>
        <td>
          
            <strong class="font-dark-blue">A</strong>
       
        </td>
        <td>
            <a class="status-link border-blue" href="#"><img src="img/icones_agents.png" alt="" width="37"></a>
            <a class="status-link border-red" href="#"><img src="img/icones_agents.png" alt="" width="37"></a>
            <a class="status-link border-red" href="#"><img src="img/icones_agents.png" alt="" width="37"></a>
            <a class="status-link border-red" href="#"><img src="img/icones_agents.png" alt="" width="37"></a>
        </td>
        <td>
            <strong><span class="font-red">AF7648</span> <span class="ico font-red"><img src="img/ico-16/arrow-red-left.png"></span> 
            <span class="font-dark-blue">(BIO)</span></strong><br>
            <small class="font-grey">07 06 2016    <span class="font-red">12:15</span><br>
          Initialisation</small>
        </td>
        <td>
          <div>
            <span class="font-dark-blue">2F/<strong>A08</strong></span> <br>
            <span class="font-grey">N385AM/76W</span>
          </div>
        </td>
        <td class="bg-light-blue">
            <small><strong class="font-dark-blue">WCHR / WCMP</strong> <span class="ico "><img src="img/ico-16/chear.png"></span> <span class="font-grey">11E</span><br></small>
            <small class="font-dark-blue">PAX BLDR assis milieu sans FRT<br></small>
            <strong>ANDREW Stephanie</strong><br>
            <small><strong>RV</strong> 07 06 2016 12:15<br>
            <strong>LIEU</strong> T2C ZONE 11<br>
            <strong class="font-red">Restaurant King</strong></small>
        </td>
        <td>
            <strong class="font-dark-blue">PSM <br>+48h</strong>
        </td>
        <td>
          <span class="font-dark-blue">HUGUES</span> <br>
          <span class="font-dark-blue">Jean-Pierre</span> <span class="ico "><img src="img/ico-16/message-blue.png"></span><br>
          <small class="font-blue">+ Renfort</small><br>
          <span class="font-green">MARIE David</span> <span class="ico "><img src="img/ico-16/message-red.png"></span><br>
          <small class="font-blue">(fin)</small>
        </td>
        <td>
          <span class="font-dark-blue">INITA</span>
        </td>
        <td>
          <small class="font-grey">25j 5h24</small><br>
          <strong class="font-dark-blue">AF7648 <span class="ico font-green"><img src="img/ico-16/arrow-green-right.png"></span>  (LYS)</strong><br>
          <small class="font-grey">07 06 2016 <span class="font-blue">12:15</span><br>
          2E/F15/532</small>
        </td>
        <td><span class="edit-stats checked"></span></td>
        <td>
          <a class="action-link" href="#"><img src="img/actions/action1.png" alt=""></a>
          <a class="action-link" href="#"><img src="img/actions/action2.png" alt=""></a>
          <a class="action-link" href="#"><img src="img/actions/action3.png" alt=""></a><br>
          <a class="action-link" href="#"><img src="img/actions/action4.png" alt=""></a>
          <a class="action-link" href="#"><img src="img/actions/action5.png" alt=""></a>
          <a class="action-link" href="#"><img src="img/actions/action6.png" alt=""></a>
        </td>
        <td>
          <div class="border-line">
            <input id="checkbox-2" name="checkbox-2" type="checkbox">
            <label for="checkbox-2"></label>
          </div>
        </td>
      </tr>
      <tr class="no-space">
        <td colspan="15">
          <div class="separator-line line-light line-red"><span class="font-red">Tache(s) realisee(s): <strong class="font-black">4</strong></span></div>
        </td>
      </tr>
      <tr class="border-tr">
        <td>
          <div class="border-line">
            <img src="img/view.png" alt="" width="21">
          </div>
        </td>
        <td>
    
            <span class="font-dark-blue">- 87min</span>

        </td>
        <td>
          
            <span class="font-dark-blue">09:50</span>
    
        </td>
        <td>
          
            <strong class="font-dark-blue">T</strong>
       
        </td>
        <td>
            <a class="status-link border-green" href="#"><img src="img/icones_agents.png" alt="" width="37"></a>
            <a class="status-link border-green" href="#"><img src="img/icones_agents.png" alt="" width="37"></a>
            <a class="status-link border-green" href="#"><img src="img/icones_agents.png" alt="" width="37"></a>
 
        </td>
        <td>
            <strong><span class="font-red">AF7648</span> <span class="font-red">&lsaquo;</span> 
            <span class="font-dark-blue">(LYS)</span></strong><br>
            <small class="font-grey">07 06 2016    <span class="font-red">12:15</span><br>
          Initialisation</small>
        </td>
        <td>
          <div>
            <span class="font-dark-blue">2F/ <strong>380</strong></span> <br>
            <span class="font-grey">S7ADB/332</span>
          </div>
        </td>
        <td>
            <small><strong class="font-red">WCHR</strong> <span class="font-grey">18E</span><br></small>
            <strong class="font-green">DUPUIS Jean Bernard</strong><br>
            <small><strong>RV</strong> 07 06 2016 12:15<br>
            <strong>LIEU</strong> T2C ZONE 11<br>
            <strong class="font-red">Restaurant King</strong></small>
        </td>
        <td>
            <strong class="font-dark-blue">PSM <br>+48h</strong>
        </td>
        <td>
        </td>
        <td>
          INITA
        </td>
        <td>
          <small class="font-grey">25j 5h24</small><br>
          <strong class="font-dark-blue">AF7648  <span class="font-green">&rsaquo;</span>  (LYS)</strong><br>
          <small class="font-grey">07 06 2016    <span class="font-blue">12:15</span><br>
          2E/F15/532</small>
        </td>
        <td><span class="edit-stats"></span></td>
        <td>
          <a class="action-link" href="#"><img src="img/actions/action1.png" alt=""></a>
          <a class="action-link" href="#"><img src="img/actions/action2.png" alt=""></a>
          <a class="action-link" href="#"><img src="img/actions/action3.png" alt=""></a><br>
          <a class="action-link" href="#"><img src="img/actions/action4.png" alt=""></a>
          <a class="action-link" href="#"><img src="img/actions/action5.png" alt=""></a>
          <a class="action-link" href="#"><img src="img/actions/action6.png" alt=""></a>
        </td>
        <td>
          <div class="border-line">
            <input id="checkbox-3" name="checkbox-3" type="checkbox">
            <label for="checkbox-3"></label>
          </div>
        </td>
      </tr>
      <tr class="border-tr even border-green border-dashed">
        <td>
          <div class="border-line">
            <img src="img/view.png" alt="" width="21">
          </div>
        </td>
        <td>
    
            <span class="font-dark-blue">- 87min</span>

        </td>
        <td>
          
            <span class="font-dark-blue">09:50</span>
    
        </td>
        <td>
          
            <strong class="font-dark-blue">T</strong>
       
        </td>
        <td>
            <a class="status-link border-green" href="#"><img src="img/icones_agents.png" alt="" width="37"></a>
            <a class="status-link border-green" href="#"><img src="img/icones_agents.png" alt="" width="37"></a>
            <a class="status-link border-green" href="#"><img src="img/icones_agents.png" alt="" width="37"></a>
 
        </td>
        <td>
            <strong><span class="font-red">AF7648</span> <span class="font-red">&lsaquo;</span> 
            <span class="font-dark-blue">(LYS)</span></strong><br>
            <small class="font-grey">07 06 2016    <span class="font-red">12:15</span><br>
          Initialisation</small>
        </td>
        <td>
          <div>
            <span class="font-dark-blue">2F/ <strong>380</strong></span> <br>
            <span class="font-grey">S7ADB/332</span>
          </div>
        </td>
        <td>
            <small><strong class="font-red">WCHR</strong> <span class="font-grey">18E</span><br></small>
            <strong class="font-green">DUPUIS Jean Bernard</strong><br>
            <small><strong>RV</strong> 07 06 2016 12:15<br>
            <strong>LIEU</strong> T2C ZONE 11<br>
            <strong class="font-red">Restaurant King</strong></small>
        </td>
        <td>
            <strong class="font-dark-blue">PSM <br>+48h</strong>
        </td>
        <td>
        </td>
        <td>
          INITA
        </td>
        <td>
          <small class="font-grey">25j 5h24</small><br>
          <strong class="font-dark-blue">AF7648  <span class="font-green">&rsaquo;</span>  (LYS)</strong><br>
          <small class="font-grey">07 06 2016    <span class="font-blue">12:15</span><br>
          2E/F15/532</small>
        </td>
        <td><span class="edit-stats"></span></td>
        <td>
          <a class="action-link" href="#"><img src="img/actions/action1.png" alt=""></a>
          <a class="action-link" href="#"><img src="img/actions/action2.png" alt=""></a>
          <a class="action-link" href="#"><img src="img/actions/action3.png" alt=""></a><br>
          <a class="action-link" href="#"><img src="img/actions/action4.png" alt=""></a>
          <a class="action-link" href="#"><img src="img/actions/action5.png" alt=""></a>
          <a class="action-link" href="#"><img src="img/actions/action6.png" alt=""></a>
        </td>
        <td>
          <div class="border-line">
            <input id="checkbox-4" name="checkbox-4" type="checkbox">
            <label for="checkbox-4"></label>
          </div>
        </td>
      </tr>
      <tr class="border-tr border-red border-dotted">
        <td>
          <div class="border-line">
            <img src="img/view.png" alt="" width="21">
          </div>
        </td>
        <td>
    
            <span class="font-dark-blue">- 87min</span>

        </td>
        <td>
          
            <span class="font-dark-blue">09:50</span>
    
        </td>
        <td>
          
            <strong class="font-dark-blue">T</strong>
       
        </td>
        <td>
            <a class="status-link border-green" href="#"><img src="img/icones_agents.png" alt="" width="37"></a>
            <a class="status-link border-green" href="#"><img src="img/icones_agents.png" alt="" width="37"></a>
            <a class="status-link border-green" href="#"><img src="img/icones_agents.png" alt="" width="37"></a>
 
        </td>
        <td>
            <strong><span class="font-red">AF7648</span> <span class="font-red">&lsaquo;</span> 
            <span class="font-dark-blue">(LYS)</span></strong><br>
            <small class="font-grey">07 06 2016    <span class="font-red">12:15</span><br>
          Initialisation</small>
        </td>
        <td>
          <div>
            <span class="font-dark-blue">2F/ <strong>380</strong></span> <br>
            <span class="font-grey">S7ADB/332</span>
          </div>
        </td>
        <td>
            <small><strong class="font-red">WCHR</strong> <span class="font-grey">18E</span><br></small>
            <strong class="font-green">DUPUIS Jean Bernard</strong><br>
            <small><strong>RV</strong> 07 06 2016 12:15<br>
            <strong>LIEU</strong> T2C ZONE 11<br>
            <strong class="font-red">Restaurant King</strong></small>
        </td>
        <td>
            <strong class="font-dark-blue">PSM <br>+48h</strong>
        </td>
        <td>
        </td>
        <td>
          INITA
        </td>
        <td>
          <small class="font-grey">25j 5h24</small><br>
          <strong class="font-dark-blue">AF7648  <span class="font-green">&rsaquo;</span>  (LYS)</strong><br>
          <small class="font-grey">07 06 2016    <span class="font-blue">12:15</span><br>
          2E/F15/532</small>
        </td>
        <td><span class="edit-stats"></span></td>
        <td>
          <a class="action-link" href="#"><img src="img/actions/action1.png" alt=""></a>
          <a class="action-link" href="#"><img src="img/actions/action2.png" alt=""></a>
          <a class="action-link" href="#"><img src="img/actions/action3.png" alt=""></a><br>
          <a class="action-link" href="#"><img src="img/actions/action4.png" alt=""></a>
          <a class="action-link" href="#"><img src="img/actions/action5.png" alt=""></a>
          <a class="action-link" href="#"><img src="img/actions/action6.png" alt=""></a>
        </td>
        <td>
          <div class="border-line">
            <input id="checkbox-5" name="checkbox-5" type="checkbox">
            <label for="checkbox-5"></label>
          </div>
        </td>
      </tr>
      <tr class="no-space">
        <td colspan="15">
          <div class="separator-line line-light line-grey"><span class="font-grey">Tache(s) realisee(s): <strong class="font-black">4</strong></span></div>
        </td>
      </tr>
      <tr class="even border-tr border-red border-solid">
        <td>
          <div class="border-line">
            <img src="img/view.png" alt="" width="21">
          </div>
        </td>
        <td>
    
            <span class="font-dark-blue">- 87min</span>

        </td>
        <td>
          
            <span class="font-dark-blue">09:50</span>
    
        </td>
        <td>
          
            <strong class="font-dark-blue">T</strong>
       
        </td>
        <td>
            <a class="status-link border-green" href="#"><img src="img/icones_agents.png" alt="" width="37"></a>
            <a class="status-link border-green" href="#"><img src="img/icones_agents.png" alt="" width="37"></a>
            <a class="status-link border-green" href="#"><img src="img/icones_agents.png" alt="" width="37"></a>
 
        </td>
        <td>
            <strong><span class="font-red">AF7648</span> <span class="font-red">&lsaquo;</span> 
            <span class="font-dark-blue">(LYS)</span></strong><br>
            <small class="font-grey">07 06 2016    <span class="font-red">12:15</span><br>
          Initialisation</small>
        </td>
        <td>
          <div>
            <span class="font-dark-blue">2F/ <strong>380</strong></span> <br>
            <span class="font-grey">S7ADB/332</span>
          </div>
        </td>
        <td>
            <small><strong class="font-red">WCHR</strong> <span class="font-grey">18E</span><br></small>
            <strong class="font-green">DUPUIS Jean Bernard</strong><br>
            <small><strong>RV</strong> 07 06 2016 12:15<br>
            <strong>LIEU</strong> T2C ZONE 11<br>
            <strong class="font-red">Restaurant King</strong></small>
        </td>
        <td>
            <strong class="font-dark-blue">PSM <br>+48h</strong>
        </td>
        <td>
        </td>
        <td>
          INITA
        </td>
        <td>
          <small class="font-grey">25j 5h24</small><br>
          <strong class="font-dark-blue">AF7648  <span class="font-green">&rsaquo;</span>  (LYS)</strong><br>
          <small class="font-grey">07 06 2016    <span class="font-blue">12:15</span><br>
          2E/F15/532</small>
        </td>
        <td><span class="edit-stats"></span></td>
        <td>
          <a class="action-link" href="#"><img src="img/actions/action1.png" alt=""></a>
          <a class="action-link" href="#"><img src="img/actions/action2.png" alt=""></a>
          <a class="action-link" href="#"><img src="img/actions/action3.png" alt=""></a><br>
          <a class="action-link" href="#"><img src="img/actions/action4.png" alt=""></a>
          <a class="action-link" href="#"><img src="img/actions/action5.png" alt=""></a>
          <a class="action-link" href="#"><img src="img/actions/action6.png" alt=""></a>
        </td>
        <td>
          <div class="border-line">
            <input id="checkbox-6" name="checkbox-6" type="checkbox">
            <label for="checkbox-6"></label>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
</section>

<div class="notification-bl">
  <a class="btn btn-radius btn-border bg-blue font-white" href="#">Affectation groupée</a>
  <a class="btn btn-radius btn-border bg-black font-white" href="#">Annulation groupée</a>
</div>