<div id="popup" class="popup popup-securite">
	<div class="popup-container bg-light-grey">
		<div class="visitor-breadcrumb bg-dark-blue">
			<svg id="popup-hide" class="fill-blue" width="25" height="25"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/img.svg#attention"></use></svg>
			<ul class="breadcrumb">
		        <li>
		          <a class="font-white" href="">VISITEUR</a>
		        </li>
		        <li>
		          <svg class="fill-white arrow" width="12" height="12"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/img.svg#arrow-right-fill-strong"></use></svg>
		          <span class="font-white">VISITES</span>
		        </li>
		        <li>
		          <svg class="fill-white arrow" width="12" height="12"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/img.svg#arrow-right-fill-strong"></use></svg>
		          <span class="font-white">Mansouri Étienne </span>
		        </li>
		        <li>
		          <svg class="fill-white arrow" width="12" height="12"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/img.svg#arrow-right-fill-strong"></use></svg>
		          <span class="font-white">07 06 2016  12:08 - 07 06 2016  12:15 </span>
		        </li>
		    </ul>
		</div>
		<div class="row popup-table-container">
		  <div class="col-sm-4">
				<div class="theory-block">
					<h2 class="font-dark-blue">Chemin de ronde théorique</h2>
					  <table class="table table-striped bg-white">
					    <thead>
					      <tr>
					        <th>IDENTIFIANT</th>
					        <th>DESCRIPTIONS</th>
					        <th>Zone</th>
					        <th>ÉTAT</th>
					      </tr>
					    </thead>
					    <tbody>
					      <tr>
					        <td class="font-dark-blue">A2B27E25</td>
					        <td class="font-dark-blue">
					        	Salle Serveur<br>
					        	informatique
					        </td>
					        <td class="font-dark-blue">
					        	Bâtiment<br>
					        	N°1 
					        </td>
					        <td class="font-green">OK</td>
					      </tr>

					      <tr>
					        <td class="font-dark-blue">A2B27E25</td>
					        <td class="font-dark-blue">
					        	PCS
					        </td>
					        <td class="font-dark-blue">
					        	Bâtiment<br>
					        	N°2 
					        </td>
					        <td class="font-green">OK</td>
					      </tr>

					      <tr>
					        <td class="font-dark-blue">A2B27E25</td>
					        <td class="font-dark-blue">
					        	Hall d’accueil
					        </td>
					        <td class="font-dark-blue">
					        	 
					        </td>
					        <td class="font-red">KO</td>
					      </tr>

					      <tr>
					        <td class="font-dark-blue">A2B27E25</td>
					        <td class="font-dark-blue">
					        	Bloc extincteur
					        </td>
					        <td class="font-dark-blue">
					        	 Bâtiment<br>
					        	 N°1 
					        </td>
					        <td class="font-green">OK</td>
					      </tr>
					    </tbody>
					  </table>
				</div>
		  </div>
		  <div class="col-sm-8">
				<div class="theory-block">
					<h2 class="font-dark-blue">Chemin de ronde RÉEL</h2>
					<table class="table table-striped bg-white">
					    <thead>
					      <tr>
					        <th>IDENTIFIANT</th>
					        <th>DESCRIPTIONS / REMARQUES</th>
					        <th>TEMPS</th>
					        <th>ÉTAT</th>
					      </tr>
					    </thead>
					    <tbody>
					      <tr>
					        <td>
					        	<span class="font-dark-blue">
					        		A2B27E25
					        	</span>
					        </td>
					        <td>
					        	<span class="font-dark-blue">
					        		PCS - Ronde Principale
					        	</span>
					        </td>
					        <td class="font-dark-blue">
					        	<span class="font-dark-blue">07 06 2016</span>
					        	<span class="font-secondary-blue">12:08</span>
					        </td>
					        <td>
					        	<span class="font-dark-blue">
					        		Heure fin de ronde<br>
					        		non spécifiée
					        	</span>
					        </td>
					      </tr>

					      <tr class="bg-secondary-light-grey">
					        <td>
					        	<span class="font-dark-blue">
					        		84BCE723
					        	</span>
					        </td>
					        <td>
					        	<span class="font-dark-blue">
					        		Salle serveur informatique<br>
					        		(Ronde principale)
					        	</span>
					        </td>
					        <td class="font-dark-blue">
					        	<span class="font-dark-blue">07 06 2016</span>
					        	<span class="font-secondary-blue">12:13</span>
					        </td>
					        <td>
					        	<span class="font-dark-blue">
					        		Heure fin de ronde<br>
					        		non spécifiée
					        	</span>
					        </td>
					      </tr>

					      <tr>
					        <td>
					        	<span class="font-dark-blue">
					        		A2B27E25
					        	</span>
					        </td>
					        <td>
					        	<span class="font-dark-blue">
					        		PCS - Ronde Principale
					        	</span>
					        </td>
					        <td class="font-secondary-blue">
					        	<span class="font-dark-blue">07 06 2016</span>
					        	<span class="font-secondary-blue">12:13</span>
					        </td>
					        <td>
					        	<span class="font-dark-blue">
					        		Heure fin de ronde<br>
					        		non spécifiée
					        	</span>
					        </td>
					      </tr>

					       <tr class="bg-secondary-light-grey">
					        <td>
					        	<span class="font-dark-blue">
					        		84BCE723
					        	</span>
					        </td>
					        <td>
					        	<span class="font-dark-blue">
					        		Heure Ronde théorique
					        	</span>
					        	<span class="font-secondary-blue">(PCS)</span>
					        </td>
					        <td class="font-secondary-blue">
					        	<span class="font-dark-blue">07 06 2016</span>
					        	<span class="font-secondary-blue">12:14</span>
					        </td>
					        <td>
					        	<span class="font-dark-blue">
					        		Heure fin de ronde<br>
					        		non spécifiée
					        	</span>
					        </td>
					      </tr>

					       <tr>
					        <td>
					        	<span class="font-dark-blue">
					        		A2B27E25
					        	</span>
					        </td>
					        <td>
					        	<span class="font-dark-blue">
					        		Heure Ronde théorique
					        	</span>
					        	<span class="font-secondary-blue">(Entrée A)</span>
					        </td>
					        <td class="font-secondary-blue">
					        	<span class="font-dark-blue">07 06 2016</span>
					        	<span class="font-secondary-blue">12:14</span>
					        </td>
					        <td>
					        	<span class="font-dark-blue">
					        		Heure fin de ronde<br>
					        		non spécifiée
					        	</span>
					        </td>
					      </tr>

					       <tr class="bg-secondary-light-grey">
					        <td>
					        	<span class="font-dark-blue">
					        		84BCE723
					        	</span>
					        </td>
					        <td>
					        	<span class="font-dark-blue">
					        		Hall d’accueil
					        	</span><br>
					        	<span class="font-dark-blue">(Ronde principale)</span>
					        </td>
					        <td class="font-secondary-blue">
					        	<span class="font-dark-blue">07 06 2016</span>
					        	<span class="font-secondary-blue">12:14</span>
					        </td>
					        <td>
					        	<span class="font-dark-blue">
					        		Heure fin de ronde<br>
					        		non spécifiée
					        	</span>
					        </td>
					      </tr>

					      <tr>
					        <td>
					        	<span class="font-dark-blue">
					        		A2B27E25
					        	</span>
					        </td>
					        <td>
					        	<span class="font-dark-blue">
					        		Heure Ronde théorique
					        	</span>
					        	<span class="font-secondary-blue">(Sanitaire)</span>
					        </td>
					        <td class="font-secondary-blue">
					        	<span class="font-dark-blue">07 06 2016</span>
					        	<span class="font-secondary-blue">12:14</span>
					        </td>
					        <td>
					        	<span class="font-dark-blue">
					        		Heure fin de ronde<br>
					        		non spécifiée
					        	</span>
					        </td>
					      </tr>


					       <tr class="bg-secondary-light-grey">
					        <td>
					        	<span class="font-dark-blue">
					        		84BCE723
					        	</span>
					        </td>
					        <td>
					        	<span class="font-dark-blue">
					        		Salle serveur informatique
					        	</span><br>
					        	<span class="font-dark-blue">(Ronde principale)</span>
					        </td>
					        <td class="font-secondary-blue">
					        	<span class="font-dark-blue">07 06 2016</span>
					        	<span class="font-secondary-blue">12:15</span>
					        </td>
					        <td>
					        	<span class="font-dark-blue">
					        		Heure fin de ronde<br>
					        		non spécifiée
					        	</span>
					        </td>
					      </tr>
					    </tbody>
					  </table>
				</div>	
		  </div>
		</div>
	</div>
</div>
