<div class="top-filter">
    <div class="left-info-bl">
      <ul class="breadcrumb">
        <li>
          <svg class="fill-blue" width="15" height="21"><use xlink:href='/img/img.svg#wheelchair'></svg>
          <a href="">PHMR</a>
        </li>
        <li><span>MISSIONS</span></li>
      </ul>
      
      <a class="round-link-icon" href="#">
        <svg class="fill-blue" width="25" height="25"><use xlink:href='/img/img.svg#add'></svg>
      </a>
      <a class="round-link-icon" href="#">
        <svg class="fill-blue" width="25" height="25"><use xlink:href='/img/img.svg#protect-user'></svg>
      </a>
      <a class="round-link-icon" href="#">
        <svg class="fill-blue" width="25" height="25"><use xlink:href='/img/img.svg#goforward'></svg>
      </a>

    </div>

    <div class="select-filter-group">
      <div class="group-filter group-filter-left">
      <div class="select-custom">
        <select>
          <option>OUVRIR LES FILTRES</option>
          <option>TRI PAR TACHE 2</option>
          <option>TRI PAR TACHE 3</option>
        </select>
      </div>
      <ul class="filter-selected">
          <li class="bg-white font-dark-blue" href="#">
              <svg class="fill-black" width="9" height="9"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/img.svg#close"></use></svg>
              <span class="font-grey">Or.Date</span> 21.11.16
          </li>
          <li class="bg-white font-dark-blue" href="#">
              <svg class="fill-black" width="9" height="9"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/img.svg#close"></use></svg>
              <span>Exp.Date</span> 23.11.16      
          </li>
          <li class="bg-white font-dark-blue" href="#">
            <svg class="fill-black" width="9" height="9"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/img.svg#close"></use></svg>
              Boing 747
          </li>
          <li class="bg-white font-dark-blue" href="#">
            <svg class="fill-black" width="9" height="9"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/img.svg#close"></use></svg>
              HONG KONG
          </li>
          <li class="bg-white font-dark-blue" href="#">
            <svg class="fill-black" width="9" height="9"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/img.svg#close"></use></svg>
              Air France
          </li>
          <li class="bg-white  font-dark-blue" href="#">
            <svg class="fill-black" width="9" height="9"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/img.svg#close"></use></svg>
              <span>Agent</span> MAURICE VALLOIS   
          </li>
          <li class="bg-white  font-dark-blue" href="#">
            <svg class="fill-black" width="9" height="9"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/img.svg#close"></use></svg>
              <span>Agent</span> MAURICE VALLOIS   
          </li>
          <li class="bg-white  font-dark-blue" href="#">
            <svg class="fill-black" width="9" height="9"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/img.svg#close"></use></svg>
              <span>Agent</span> MAURICE VALLOIS   
          </li>
          <li class="bg-white  font-dark-blue" href="#">
            <svg class="fill-black" width="9" height="9"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/img.svg#close"></use></svg>
              <span>Agent</span> MAURICE VALLOIS   
          </li>
      </ul>
      </div>
      <!-- <div class="clearfix"></div> -->
      <div class="group-filter">
       <div class="select-custom">
        <select>
          <option>TRI PAR TACHE</option>
          <option>TRI PAR TACHE 2</option>
          <option>TRI PAR TACHE 3</option>
        </select>
      </div>
      <ul class="filter-selected">
          <li class="bg-blue" href="#">
              <svg class="fill-black" width="9" height="9"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/img.svg#close"></use></svg>
              Agent
          </li>
          <li class="bg-blue" href="#">
              <svg class="fill-black" width="9" height="9"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/img.svg#close"></use></svg>
              Shuttle
          </li>
          <li class="bg-blue" href="#">
            <svg class="fill-black" width="9" height="9"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/img.svg#close"></use></svg>
              Schelduled
          </li>
      </ul>
      </div>
    </div>
  </div><!-- .top-filter -->