<div class="top-filter">
    <div class="left-info-bl">
      <ul class="breadcrumb">
        <li>
          <svg class="fill-blue" width="15" height="21"><use xlink:href='/img/img.svg#wheelchair'></svg>
          <a href="">PHMR</a>

        </li>
        <li>
          <svg class="fill-grey arrow" width="12" height="12"><use xlink:href='/img/img.svg#arrow-right-fill'></svg>
          <span>MISSIONS</span>
        </li>
      </ul>
      
      <a class="round-link-icon" href="#">
        <svg class="fill-blue" width="25" height="25"><use xlink:href='/img/img.svg#add'></svg>
      </a>
      <a class="round-link-icon" href="#">
        <svg class="fill-blue" width="25" height="25"><use xlink:href='/img/img.svg#protect-user'></svg>
      </a>
      <a class="round-link-icon" href="#">
        <svg class="fill-blue" width="25" height="25"><use xlink:href='/img/img.svg#goforward'></svg>
      </a>

    </div>

    <div class="select-filter-group">
      <div class="group-filter group-filter-left">
      <div class="select-custom">
        <select>
          <option>OUVRIR LES FILTRES</option>
          <option>TRI PAR TACHE 2</option>
          <option>TRI PAR TACHE 3</option>
        </select>
        <span class="arrow-normal">
           <svg class="fill-grey" width="14" height="14"><use xlink:href='/img/img.svg#arrow-bottom-fill'></svg>
        </span>
      </div>
      <ul class="filter-selected">
          <li class="bg-white font-dark-blue" href="#">
              <svg width="9px" height="9px" viewBox="0 0 9 9">
                  <g stroke-width="1" fill-rule="evenodd">
                      <g id="remove-ico" stroke-width="0.8">
                          <path d="M0.4,0.4 L8.4,8.4"/>
                          <path d="M0.4,8.4 L8.4,0.4"/>
                          <path d="M0.4,0.4 L8.4,8.4"/>
                          <path d="M0.4,8.4 L8.4,0.4"/>
                      </g>
                  </g>
              </svg>
              <span class="font-grey">Or.Date</span> 21.11.16
          </li>
          <li class="bg-white font-dark-blue" href="#">
              <svg width="9px" height="9px" viewBox="0 0 9 9">
                  <g stroke-width="1" fill-rule="evenodd">
                      <g id="remove-ico" stroke-width="0.8">
                          <path d="M0.4,0.4 L8.4,8.4"/>
                          <path d="M0.4,8.4 L8.4,0.4"/>
                          <path d="M0.4,0.4 L8.4,8.4"/>
                          <path d="M0.4,8.4 L8.4,0.4"/>
                      </g>
                  </g>
              </svg>
              <span>Exp.Date</span> 23.11.16      
          </li>
          <li class="bg-white font-dark-blue" href="#">
            <svg width="9px" height="9px" viewBox="0 0 9 9">
                  <g stroke-width="1" fill-rule="evenodd">
                      <g id="remove-ico" stroke-width="0.8">
                          <path d="M0.4,0.4 L8.4,8.4"/>
                          <path d="M0.4,8.4 L8.4,0.4"/>
                          <path d="M0.4,0.4 L8.4,8.4"/>
                          <path d="M0.4,8.4 L8.4,0.4"/>
                      </g>
                  </g>
              </svg>
              Boing 747
          </li>
          <li class="bg-white font-dark-blue" href="#">
            <svg width="9px" height="9px" viewBox="0 0 9 9">
                  <g stroke-width="1" fill-rule="evenodd">
                      <g id="remove-ico" stroke-width="0.8">
                          <path d="M0.4,0.4 L8.4,8.4"/>
                          <path d="M0.4,8.4 L8.4,0.4"/>
                          <path d="M0.4,0.4 L8.4,8.4"/>
                          <path d="M0.4,8.4 L8.4,0.4"/>
                      </g>
                  </g>
              </svg>
              HONG KONG
          </li>
          <li class="bg-white font-dark-blue" href="#">
            <svg width="9px" height="9px" viewBox="0 0 9 9">
                  <g stroke-width="1" fill-rule="evenodd">
                      <g id="remove-ico" stroke-width="0.8">
                          <path d="M0.4,0.4 L8.4,8.4"/>
                          <path d="M0.4,8.4 L8.4,0.4"/>
                          <path d="M0.4,0.4 L8.4,8.4"/>
                          <path d="M0.4,8.4 L8.4,0.4"/>
                      </g>
                  </g>
              </svg>
              Air France
          </li>
          <li class="bg-white  font-dark-blue" href="#">
            <svg width="9px" height="9px" viewBox="0 0 9 9">
                  <g stroke-width="1" fill-rule="evenodd">
                      <g id="remove-ico" stroke-width="0.8">
                          <path d="M0.4,0.4 L8.4,8.4"/>
                          <path d="M0.4,8.4 L8.4,0.4"/>
                          <path d="M0.4,0.4 L8.4,8.4"/>
                          <path d="M0.4,8.4 L8.4,0.4"/>
                      </g>
                  </g>
              </svg>
              <span>Agent</span> MAURICE VALLOIS   
          </li>
          <li class="bg-white  font-dark-blue" href="#">
            <svg width="9px" height="9px" viewBox="0 0 9 9">
                  <g stroke-width="1" fill-rule="evenodd">
                      <g id="remove-ico" stroke-width="0.8">
                          <path d="M0.4,0.4 L8.4,8.4"/>
                          <path d="M0.4,8.4 L8.4,0.4"/>
                          <path d="M0.4,0.4 L8.4,8.4"/>
                          <path d="M0.4,8.4 L8.4,0.4"/>
                      </g>
                  </g>
              </svg>
              <span>Agent</span> MAURICE VALLOIS   
          </li>
          <li class="bg-white  font-dark-blue" href="#">
            <svg width="9px" height="9px" viewBox="0 0 9 9">
                  <g stroke-width="1" fill-rule="evenodd">
                      <g id="remove-ico" stroke-width="0.8">
                          <path d="M0.4,0.4 L8.4,8.4"/>
                          <path d="M0.4,8.4 L8.4,0.4"/>
                          <path d="M0.4,0.4 L8.4,8.4"/>
                          <path d="M0.4,8.4 L8.4,0.4"/>
                      </g>
                  </g>
              </svg>
              <span>Agent</span> MAURICE VALLOIS   
          </li>
          <li class="bg-white  font-dark-blue" href="#">
            <svg width="9px" height="9px" viewBox="0 0 9 9">
                  <g stroke-width="1" fill-rule="evenodd">
                      <g id="remove-ico" stroke-width="0.8">
                          <path d="M0.4,0.4 L8.4,8.4"/>
                          <path d="M0.4,8.4 L8.4,0.4"/>
                          <path d="M0.4,0.4 L8.4,8.4"/>
                          <path d="M0.4,8.4 L8.4,0.4"/>
                      </g>
                  </g>
              </svg>
              <span>Agent</span> MAURICE VALLOIS   
          </li>
      </ul>
      </div>
      <!-- <div class="clearfix"></div> -->
      <div class="group-filter">
       <div class="select-custom">
        <select>
          <option>TRI PAR TACHE</option>
          <option>TRI PAR TACHE 2</option>
          <option>TRI PAR TACHE 3</option>
        </select>
          <span class="arrow-normal">
           <svg class="fill-grey" width="14" height="14"><use xlink:href='/img/img.svg#arrow-bottom-fill'></svg>
        </span>
      </div>
      <ul class="filter-selected">
          <li class="bg-blue" href="#">
              <svg width="9px" height="9px" viewBox="0 0 9 9">
                  <g stroke-width="1" fill-rule="evenodd">
                      <g id="remove-ico" stroke-width="0.8">
                          <path d="M0.4,0.4 L8.4,8.4"/>
                          <path d="M0.4,8.4 L8.4,0.4"/>
                          <path d="M0.4,0.4 L8.4,8.4"/>
                          <path d="M0.4,8.4 L8.4,0.4"/>
                      </g>
                  </g>
              </svg>
              Agent
          </li>
          <li class="bg-blue" href="#">
              <svg width="9px" height="9px" viewBox="0 0 9 9">
                  <g stroke-width="1" fill-rule="evenodd">
                      <g id="remove-ico" stroke-width="0.8">
                          <path d="M0.4,0.4 L8.4,8.4"/>
                          <path d="M0.4,8.4 L8.4,0.4"/>
                          <path d="M0.4,0.4 L8.4,8.4"/>
                          <path d="M0.4,8.4 L8.4,0.4"/>
                      </g>
                  </g>
              </svg>
              Shuttle
          </li>
          <li class="bg-blue" href="#">
            <svg width="9px" height="9px" viewBox="0 0 9 9">
                  <g stroke-width="1" fill-rule="evenodd">
                      <g id="remove-ico" stroke-width="0.8">
                          <path d="M0.4,0.4 L8.4,8.4"/>
                          <path d="M0.4,8.4 L8.4,0.4"/>
                          <path d="M0.4,0.4 L8.4,8.4"/>
                          <path d="M0.4,8.4 L8.4,0.4"/>
                      </g>
                  </g>
              </svg>
              Schelduled
          </li>
      </ul>
      </div>
    </div>
  </div><!-- .top-filter -->