<div class="top-head">
  <div class="left-group">
    <a class="logo" href="#">
      <img src="/img/ozion.png" alt="">
      <span>PHMR MANAGER</span>
    </a>
    <div class="search-field">
      <input type="text" name="" id="">
      <button type="submit"><svg class="fill-grey" width="20" height="20"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/img.svg#search"></use></svg></button>
    </div>
  </div><!-- .left-group -->
  <div class="time">
   <strong>TIME</strong>
    <span>20</span> : <span>37</span> : <span>12</span>
  </div><!-- .time -->

  <div class="right-group">
    <div class="slide-wrapper">
      <a class="prev"></a>
      <div class="slider">
        <a class="status-link border-green" href="#">
          <svg class="fill-black" width="37" height="25"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/img.svg#passenger"></use></svg>
          <sup>214</sup>
        </a>
        <a class="status-link border-blue" href="#">
          <svg class="fill-black" width="37" height="25"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/img.svg#passenger"></use></svg>
          <sup>27</sup>
        </a>
        <a class="status-link border-red" href="#">
          <svg class="fill-black" width="37" height="25"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/img.svg#passenger"></use></svg>
          <sup>11</sup>
        </a>
      </div>
      <a class="next"></a>
    </div><!-- .slide-wrapper -->
    <div class="info-bl">
      <a class="link-with-sup" href="#">
        <svg class="fill-red" width="27" height="27"><use xlink:href='/img/img.svg#bell'></svg>
        <sup>324</sup>
      </a>
    </div>
    <div class="info-bl">
      <a class="link-with-sup" href="#">
        <svg class="fill-blue" width="27" height="27"><use xlink:href='/img/img.svg#clock'></svg>
        <sup><span class="font-blue">1</span>/<span class="font-blue">9</span></sup>
      </a>
    </div>
      
    <nav class="logged-nav">
      <a href="#">
        <svg class="fill-black" width="28" height="28"><use xlink:href='/img/img.svg#home'></svg>
      </a>
      <a href="#">
        <svg class="fill-black" width="28" height="28"><use xlink:href='/img/img.svg#profile'></svg>
      </a>
      <a href="#">
        <svg class="fill-black" width="28" height="28"><use xlink:href='/img/img.svg#dashboard'></svg>
      </a>
    </nav><!-- .logged-nav -->  
  </div><!-- .right-group -->
</div><!-- .top-head -->