<nav class="top-nav">
  <a href="#">
    <svg class="fill-white" width="25" height="36"><use xlink:href='/img/img.svg#wheelchair'></svg>
    PHMR
  </a>
  <a href="#">
    <svg class="fill-white" width="40" height="36"><use xlink:href='/img/img.svg#attention'></svg>
    INCIDENTS
  </a>
  <a href="#">
    <svg class="fill-white" width="47" height="36"><use xlink:href='/img/img.svg#hands-care'></svg>
    PRETS
  </a>
  <a href="#">
    <svg class="fill-white" width="28" height="36"><use xlink:href='/img/img.svg#flag'></svg>
    FIL D'ACTUALITE
  </a>
  <a href="#">
    <svg class="fill-white" width="35" height="36"><use xlink:href='/img/img.svg#clock'></svg>
    SERVICE
  </a>
  <a href="#">
    <svg class="fill-white" width="29" height="36"><use xlink:href='/img/img.svg#list'></svg>
    DOCUMENTS
  </a>
  <a href="#">
    <svg class="fill-white" width="31" height="36"><use xlink:href='/img/img.svg#contacts'></svg>
    ANNUAIRE
  </a>
  <a href="#">
     <svg class="fill-white" width="40" height="36"><use xlink:href='/img/img.svg#book'></svg>
    CONSIGNES
  </a>
</nav>