body{
	background-color:#f1f3f4;
	padding-bottom:10px;
}

.no-border {
	padding-bottom: 4px;
    display: inline-block;
}


.notification-bl{
    display: none;
	background-color:rgba(31,151,243,0.62);
	text-align:center;
	padding:12px 0px 10px;
	position:fixed;
	bottom:0;
	left:0;
	right:0;

	.btn{
		margin:0px 3px;
		font-size:10px;
		text-transform:uppercase;
		padding-top:5px;
		padding-bottom:5px;
	}

    form{
        display: inline-block;
    }
}


.exclamation-sign{
	position:absolute;
	margin-left:-10px;
}

.popup-icon{
    position: relative;
	padding-top:10px;
	&:hover .popover {
		-webkit-animation: move-up .3s linear 1;
		transition: all 0.2s ease-in-out;
		display: block;
	}
}
@-webkit-keyframes move-up {
	0%{
		top:-80px;
		opacity: 0;
	}

	100%{
		top:-100px;
		opacity:1;
	}
}

.popover {
	position: absolute;
	width: 200px;
	padding: 5px 7px 10px 7px;
	bottom: calc(100% + 20px);
	left: calc(50% - 100px);
	box-shadow: 1px 1px 17px 0px rgba(172, 176, 178, 0.75);
  	transition: all 0.2s ease-in-out;
	display: none;
	
	
	&:before{
		border-top: 7px solid rgba(255,255,255,1);
        border-right: 7px solid transparent;
        border-left: 7px solid transparent;
        bottom: -7px;
        content: '';
        display: block;
        left: 50%;
        margin-left: -7px;
        position: absolute;
	}

	h4{
		font-size: 12px;
		line-height: 17px;
		text-align: center;
		padding: 4px 0 3px 0;
		letter-spacing: 1px;
	}

	span{
		display: block;
		margin-left: 3px;
		text-align: left;

		small{
			display: inline-block;
			padding-left: 6px;
		}
	}

    .comments-list{
        padding: 0 0 0 20px;
        margin: 0;
        
        li{
            white-space: normal; 
            margin-bottom: 10px;

            h5{
                font-size: 12px;
                text-transform: capitalize;
                margin: 0 0 5px 0;
            }
        }
    }
}

/*agents home style*/
.info-container {
	margin-bottom: 28px;
}

.personal-info{
	display: inline-block;
	margin-right: 95px;
	.refresh{
		border: none;
		outline: none;
		font-size: 12px;
		font-weight: 300;
		letter-spacing: 1px;
		line-height: 15px;
		padding: 10px 18px 8px 24px;
		margin-right: 85px;
		cursor: pointer;

		img{
			display: inline-block;
			vertical-align:top;
			margin-left: 8px;
		}
	}

	input{
		background-color: $white;
		width: 160px;
		padding: 5px 11px 6px 11px; 
		font-size: 13px;
		outline: none;
		letter-spacing: 1px;
		margin-right: 6px;
	}
	input,
	textarea {
		color: $blue;
		text-shadow: 0px 0px 0px #000;
		-webkit-text-fill-color: transparent;
	}

	.btn{
		&.search{
			padding: 3px 8px 5px 0px;
			cursor: pointer;
		}
	}
}

.select-block{
	display: inline-block;
	vertical-align: middle;

	.custome-select{
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		border: none;
		border-radius: 0;
		outline: none;
		letter-spacing: 1px;
		width: 160px;
		font-size: 14px;
		padding: 5px 7px 2px 8px;
		box-shadow: 1px 1px 17px 0px rgba(172, 176, 178, 0.75);
		background: $white url('../img/arrow-down.png') 92% 50% no-repeat;
		margin-right: 36px;

		&.strong{
			font-weight: 700;
		}

	}
}
.jalon {
	border-width: 2px;
	border-style: solid;
	min-width: 55px;
	height: 23px;
	text-align: center;
	display: inline-block;
	padding-top: 2px;
}
.text-centering {
	display: inline-block;
	text-align:center;
}
.no-space-td {
	padding:0;
}

.vh {
	width: 690px;
}

	.ratio-box {
		label {
			&:before {
				border: 2px solid $grey!important;
			}
		}

		input[type=radio]:checked+label:after {
				background-color: $grey;
			}
	}


/*affectation*/

.popup{
	background:rgba(0,0,0,0.5);
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	top:0;
	padding:20px;
	&-container{
		background:$white;
	}
}


.affectation-home {
	padding-top: 26px;
	padding-left: 31px;
	padding-right: 31px;


	.table-wrapp {
		margin-bottom: 24px;
	}
}

.arrival-info {
	border-top: 1px solid $grey;
	border-bottom: 1px solid $grey;
	margin-left:8px;
	margin-right: 8px;
	padding: 24px 13px;

	.color-block {
		padding: 1.5px 27px;
	}

	.affectation-icon {
		display: inline-block;
		margin-right: auto;
	}
}



























