/* Colors */ 
$white:  rgba(255,255,255,1);

$light-blue: rgba(172,215,250,1);

$blue: rgba(25,150,251,1);

$secondary-blue: rgba(99,182,247,1);

$dark-blue: rgba(23,111,184,1);

$green: rgba(43,222,126,1);

$red: rgba(255,101,95,1);

$grey: rgba(172,176,178,1);

$light-grey: #f1f3f4;

$secondary-light-grey: rgba(248,249,250,1);

$yellow: rgba(255,174,0,1);

$black: rgba(0,0,0,1);



/* Colors */ 

$font-family-base: "Futura LT Com", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

$font-family-base-cond: "Futura LT Com Cond", "Futura LT Com", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

$font-family-base-book: "Futura LT Com Book", "Futura LT Com", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

$font-family-base-heavy: "Futura LT Com Heavy", "Futura LT Com", "Helvetica Neue", "Helvetica", "Arial", sans-serif;


/* Buttons */ 